<% content_for :title, "Editing detalhes venda" %>

<h1>Editing detalhes venda</h1>

<%= render "form", detalhes_venda: @detalhes_venda %>

<br>

<div>
  <%= link_to "Show this detalhes venda", @detalhes_venda %> |
  <%= link_to "Back to detalhes vendas", detalhes_vendas_path %>
</div>
