<p style="color: green"><%= notice %></p>

<% content_for :title, "Detalhes vendas" %>

<h1>Detalhes vendas</h1>

<div id="detalhes_vendas">
  <% @detalhes_vendas.each do |detalhes_venda| %>
    <%= render detalhes_venda %>
    <p>
      <%= link_to "Show this detalhes venda", detalhes_venda %>
    </p>
  <% end %>
</div>

<%= link_to "New detalhes venda", new_detalhes_venda_path %>
