<% content_for :title, "New detalhes venda" %>

<h1>New detalhes venda</h1>

<%= render "form", detalhes_venda: @detalhes_venda %>

<br>

<div>
  <%= link_to "Back to detalhes vendas", detalhes_vendas_path %>
</div>
